{% set title='home' %}
{% extends "base.htm" %}
{% macro render_links(links) %}
  <ol>
  {% for link in links %}
  <li>
    <a href="{{ url_for('get_link', linkid=link.linkid) }}">{{ link.title }}</a>
    by <a href="{{ url_for('get_pubuser', userid=link.userid) }}">{{ link.username }}</a>
    at {{ link.created[:16] }}
    {% if link.assert_count %}
    ({{ link.assert_count }} asserts)
    {% endif %}
  </li>
  {% endfor %}
  </ol>
{% endmacro %}
{% macro link_section(links, empty_msg='Empty') %}
  {% if links.error %}
  <div class="alert alert-danger">{{ links.error }}</div>
  {% elif links['items'] %}
    {{ render_links(links['items']) }}
  {% else %}
  <div class="alert alert-warning">{{ empty_msg }}</div>
  {% endif %}
{% endmacro %}
{% block content %}
<div class="container">
  <a href="/link">📤 submit</a>
  <a href="{{ url_for('get_pubuser', userid=userid) }}">📊 your activity</a>
  <a href="/trustnet">🕸️ your network</a>
  <a href="/settings">⚙️ settings</a>
  <a href="/invites">💌 invitation</a>
  <hr>
  <h2>Recent articles</h2>

  <details open><summary class="h4">Globally popular</summary>
    {{ link_section(articles.global, 'No global activity; either this is a fresh install or something has gone badly wrong 😬') }}
  </details>

  <details open><summary class="h4">People you vouch (1-hop)</summary>
    {{ link_section(articles.hop1) }}
  </details>

  <details open><summary class="h4">People you vouch indirectly (2-hop)</summary>
    {{ link_section(articles.hop2) }}
  </details>

  <details open><summary class="h4">People who vouch you (1-hop)</summary>
    {{ link_section(articles.followers) }}
  </details>
{#
  <hr>

  <h2>Requests for comment</h2>

  <details open><summary class="h4">RFCs from people you vouch (1-hop)</summary>
    {% if rfcs.upstream %}
    {% else %}
    <div class="alert alert-warning">Empty</div>
    {% endif %}
  </details>

  <details open><summary class="h4">RFCs from people who vouch you (1-hop)</summary>
    {% if rfcs.followers %}
    {% else %}
    <div class="alert alert-warning">Empty</div>
    {% endif %}
  </details>
#}
</div>
{% endblock %}
