{% set title='legal' %}
{% extends "base.htm" %}
{% block content %}
<div class="container">
  <div class="h2">⚖️ Policies and terms</div>
  <p>Email contact for DMCA takedowns: {{ ocilla }}</p>
  <div class="h4">Beta site</div>
  <p>This is a beta product as of June 2019 and may not be fully functional, secure, safe etc.
  <div class="h4">Privacy</div>
  <ol>
    <li>Most content posted to this site is 'published' i.e. public. This *includes* vouch history i.e. upvotes.</li>
    <li>If you supply an email address, we will take reasonable measures to keep it private. We will not intentionally share it but may share it if forced by a court order, through negligence, or as the result of a data breach.</li>
    <li>Our cloud host can steal your information without our knowledge or consent. If we find proof of this we'll take reasonable measures to make it public</li>
    <li>GDPR: this site is not available to europeans</li>
  </ol>
  <div class="h4">Spam</div>
  <ol>
    <li>We won't spam your email address if we can help it. We will use reasonable effort (after the beta period) to provide a settings toggle for every category of email that we send.</li>
    <li>We may take down spam on this site or rate-limit posts to prevent spam. We may use content filtering to detect and flag spam.</li>
  </ol>
  <div class="h4">Takedowns</div>
  <ol>
    <li><u>Links to objectionable content hosted offsite</u>: The purpose of this system is debate and to discover the truth by consensus. Our flagging system can mark a link as objectionable. Identifying objectionable content is not the same as hosting it</li>
    <li><u>Objectionable content hosted onsite</u>: we will comply with court orders from relevant jurisdictions to take down content</li>
    <li><u>Copyright infringement / DMCA</u>: this system doesn't let users upload images or media and makes it difficult to post long sections of text. As such, it is difficult to use this system for copyright infringement. If you believe your content is being used on our site without permission, use the DMCA contact above to get in touch and we will begin a prompt investigation.</li>
    <li><u>GDPR takedowns</u>: this site is not available to europeans</li>
  </ol>
  <div class="h4">Changes to these terms</div>
  <ol>
    <li>We will add obligations of ours without notice</li>
    <li>We will not impose new obligations on you without 1 week's notice to your email address (assuming your account is configured to receive such messages). We will also prompt you to consent to the new terms when you next use the site.</li>
    <li>If we remove obligations of ours, we will notify you and at our discretion may give you an opportunity to delete your content</li>
    <li>These notice requirements will not apply during the beta period because email notifications are not working yet</li>
  </ol>
  <div class="h4">Children on this site</div>
  <ol>
    <li>To make it easier to comply with the law, this site is unavailable to people under 18</li>
    <li>If you want to change this policy, donate some law and consulting time to us so we can figure out how to do this in a way that's legally safe for us</li>
  </ol>
</div>
{% endblock %}
