{% set title='article' %}
{% extends "base.htm" %}
{% block content %}
<div class="container">
  <h4>
    <a href="{{ link.url }}">{{ link.title }}</a>
    <div class="h5 text-muted">{{ link.created[:16] }} - {{ link.url }}</div>
  </h4>
  {% if deletable %}
  <form method="POST" action="/link/del">
    <input type="hidden" name="linkid" value="{{ link.linkid }}">
    <button type="submit" class="btn btn-danger">Delete</button>
    <p class="form-text text-muted">You can delete for {{ delete_window }} minutes after posting</p>
  </form>
  {% endif %}
  <form method="POST" action="/assert">
    <input type="hidden" name="linkid" value="{{ link.linkid }}">
    <div class="form-group row">
      <label for="assert-topic" class="col-2 col-form-label">Topic</label>
      <div class="col-10"><input id="assert-topic" type="text" class="form-control" name="topic" placeholder="topic" required></div>
    </div>
    <div class="form-group row">
      <label for="assert-body" class="col-2 col-form-label">Assert claim</label>
      <div class="col-10"><textarea id="assert-body" class="form-control" name="body" placeholder="assertion body (max 2000 characters)" required></textarea></div>
    </div>
    <button type="submit" class="btn btn-primary">Assert</button>
  </form>
  <br>
  <p class="h5">
    <a href="{{ url_for('get_overlay', linkid=link.linkid) }}">View trust overlay</a>
    <small class="text-muted">This will mark up assertions based on how you've vouched for them</small>
  </p>
  <a href="{{ url_for('get_flag', linkid=link.linkid) }}" class="btn btn-warning">🚨 Flag article ...</a>
  {% if flag_count %}
  <a href="{{ url_for('get_flags', linkid=link.linkid) }}">{{ flag_count }} flags</a>
  {% endif %}
  <hr>
  {% if not asserts %}
  <div class="alert alert-warning">No assertions yet for this article -- you'll be the first</div>
  {% else %}
  <ul>
  {% for assert_ in asserts %}
    <li>
      <span class="badge badge-secondary">{{ assert_.topic }}</span>
      <a href="{{ url_for('get_assert', assertid=assert_.assertid) }}">{{ assert_.created.split('.')[0] }} by {{ assert_.username }}</a>
      {% if assert_.deletable and assert_.userid == userid %}
      <form method="POST" action="/assert/del">
        <input type="hidden" name="assertid" value="{{ assert_.assertid }}">
        <button class="btn btn-danger" type="submit">Delete</button>
      <form>
      {% endif %}
      <p>{{ assert_.claim }}</p>
      {% if assert_.vouches %}
      <p>Vouch counts: {{ assert_.vouches}}</p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
